/*.dc-chart g.row text {*/
   /*fill: black;*/
   /*font-size: 12px;*/
/*}*/

#wrapper {
    padding-left: 20px;
}

/*.dc-chart .axis text {*/
  /*!*font-size: 20px;*!*/
  /*color: whitesmoke; !important*/
/*}*/

/*.dc-chart .axis path, .axis line {*/
    /*fill: none;*/
    /*stroke: whitesmoke;*/
    /*shape-rendering: crispEdges;*/
/*}*/

.dc-chart .axis text {
    font: 10px sans-serif;
    color: white;
}

.panel-body {
    background-color: #2d2d2d;
}
.panel-heading {
background: linear-gradient(
  to bottom,
  #2a6496,
  #2a6496 50%,
  #2e6da4 50%,
  #2e6da4
);

background-size: 100% 20px;
}

.data-text {
    font-size: 40px;
    color: #cccccc;
}

body {
    background-image: url('../img/medical-background.jpg') ;
    background-size: cover;
}

#ghicon {
    margin-top: 5px;
    float: right;
}

.tooltip {
    width: 200px;
}

li {
    list-style: none;
    text-align: left;
}

g text {
    fill: whitesmoke;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}