.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}

#wrapper {
    padding-left: 20px;
}

.dc-chart .axis text {
  /*font-size: 20px;*/
  color: whitesmoke; !important
}

/*.dc-chart .axis path, .axis line {*/
    /*fill: none;*/
    /*stroke: whitesmoke;*/
    /*shape-rendering: crispEdges;*/
/*}*/

.dc-chart .axis text {
    font: 10px sans-serif;
}

.panel-body {
    background-color: #bce8f1;
}

.data-text {
    font-size: 40px;
    color: #666666;
}

