
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlucoTrend</title>

    <link rel="stylesheet" type="text/css" href="../static/lib/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/lib/css/dc.css">
    <link rel="stylesheet" href="../static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/css/local.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">

    <script src="../static/lib/js/jquery.min.js"></script>
</head>
<body>
    <div id="wrapper">
          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">GlucoTrend</a>
            </div>

        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <h1>Dashboard <small>Statistics and more</small></h1>

                </div>
                <div class="col-md-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-info"></i>  Avg Blood Glucose</h3>
                        </div>
                        <div class="panel-body">
                            <div id="overallavgbg-chart" class="data-text"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="text-danger fa fa-exclamation-triangle"></i>  Number of hypos</h3>
                        </div>
                        <div class="panel-body">
                            <div id="hypos-chart" class="data-text"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>  Daily Blood Glucose readings</h3>
                        </div>
                        <div class="panel-body">
                            <div id="time-chart" class="dc-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-pie-chart"></i>  Rating</h3>
                        </div>
                        <div class="panel-body">
                            <div id="rating-chart"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-pie-chart"></i>  Readings by Time Period </h3>
                        </div>
                        <div class="panel-body">
                            <div id="period-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>  Average daily Blood Glucose </h3>
                        </div>
                        <div class="panel-body">
                            <div id="average-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </div>
    <!-- /#wrapper -->


<script src="../static/lib/js/bootstrap.min.js"></script>
<script src="../static/lib/js/crossfilter.js"></script>
<script src="../static/lib/js/d3.js"></script>
<script src="../static/lib/js/dc.js"></script>
<script src="../static/lib/js/queue.js"></script>
<script src='../static/js/draw_graphs.js' type='text/javascript'></script>
</body>
</html>
